body {
    background-image: url('Galaxy-Beautiful-Wallpapers.jpg');
    text-align: center;
    padding: 0 25px;
    font-family: arial, sans-serif;
}

div {
    opacity: 0.98;
}

#main, #chats {
    width: 500px;
    margin: auto;
    text-align: left;
    background: white;
    padding: 50px 60px;
    border: solid #ddd;
    border-width: 0 1px 1px 1px;
    border-radius: 15px;
}

#main {
    margin-top: 65px;
}

h1 {
    font-family: 'Cinzel', serif;
}

#main h1 {
    margin-top: 0;
    font-size: 35px;
    margin-bottom: 5px;
    padding: 5px;
    text-align: center;
}

#main h1 span {
    font-style:italic;
}

#main ul {
    padding-left: 20px;
}

#main .error {
    border: 1px solid red;
    background: #FDEFF0;
    padding: 20px;
}

#main .success {
    margin-top: 25px;
}

#main .success code {
    font-size: 12px;
    color: green;
    line-height: 13px;
}

form {
    padding: 20px;
    padding-left: 0;
    margin-bottom: 20px;
}

form input[type=text] {
    margin-right: 10px;
    width: 70%;
    font-size: 12px;
    padding: 5px;
}

.chat {
    padding: 5px;
    margin-bottom: 5px;
    background-color: #eee;
}

.chat .username {
    font-weight: 800;
}

.chat:hover {
    background-color: #ddd;
}

.spinner {
    float: right;
    height: 46px;
    margin-bottom: 5px;
}

.spinner img {
    padding: 10px;
}

.friend {
    color: #fff;
    background-color: #0090da;
}

/*Messenger App*/

#message_box {
    margin-top: 10px;
    width: 350px;
    height: 20px;
}

#room_button, .submit {
    margin-top: 7px;
}

#newRoomName {
    margin-left: 21px;
}


#main {
    width: 100%;
}

#chats {
    margin-top: 20px;
    display: -webkit-flex; /* Safari */
    -webkit-flex-direction: column-reverse; /* Safari 6.1+ */
    display: flex;
    flex-direction: column-reverse;
    overflow: scroll;
    max-height: 400px;
}
  
.friend_list {
    margin-top: 20px;
    background-color: white;
    border-radius: 15px;
    display: inline-block;
    padding: 20px 12px;
    min-height: 300px;
    max-height: 300px;
    width: 100%;
}

.actual_list {
    overflow: scroll;
    min-height: 150px;
    max-height: 150px;
}

.roomandsend {
    padding: 20px 12px;
    margin-top: 20px;
    background-color: white;
    border-radius: 15px;
    display: inline-block;
    min-height: 300px;
    max-height: 300px;
    width: 100%;
}

#main, #chats {
    width: 100%;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

#roomSelect {
    height: 25px;
    width: 130px;
}